{% extends "account/base.html" %}

{% block head_content %}
<title>Inicio de Sesión</title>
{% endblock %}

{% block container %}
    <div class="col-md-8 col-md-offset-2 text-center">
        <h3 style="margin-top: 2rem; margin-bottom: 4rem;">LICIORION</h3>
    </div>

    <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}    
    
        <div class="form-group">            
            <input class="form-control" type="email" name="login" placeholder="Correo electrónico" autofocus="autofocus" required="true" id="id_login" />
        </div>
    
        <div class="form-group">            
            <input class="form-control" type="password" name="password" placeholder="Contraseña" required="true" id="id_password">
        </div>
    
    
        <button class="btn btn-primary btn-block mt-5" type="submit">Iniciar Sesión</button>
        
        <p style="text-align: center; margin-top: 0.5 rem;"><a href="#">¿Olvidó su contraseña?</a></p>

        <p style="text-align: center; margin-top: 3 rem;">¿Todavía no tiene una cuenta? <a href="{% url 'account_signup' %}">Registrese</a></p>
    </form>
    
{% endblock %}