{% extends "account/base.html" %}

{% block head_content %}
<title>Reestablecer contraseña</title>
{% endblock %}

{% block container %}
    
    <span class="login100-form-title">
        <a style="padding-bottom: 0px" class="login100-form-title" href="{% url 'home_page' %}">LICIORION</a>
        <div class="text-center p-t-12"><br /></div>
        <div class="text-center p-t-12"></div>
            <span class="txt3">
                Las instrucciones para reestablecer su contraseña se enviaron a su correo electrónico. <br />
            </span>
            <a class="txt4" href="{% url 'account_login' %}">
                Iniciar Sesión
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
            </a>
        </div>
    </span>
    
{% endblock %}