{% extends "account/base.html" %}

{% block head_content %}
<title>Reestablecer contraseña</title>
{% endblock %}

{% block container %}

    <form class="login100-form validate-form" method="POST">
        {% csrf_token %}  
        <span class="login100-form-title">
            <a style="padding-bottom: 0px" class="login100-form-title" href="{% url 'home_page' %}">LICIORION</a>
        </span>
        
        {% for key, value in form.errors.items %}
            <div class="alert alert-danger">{{ value }}</div>   
        {% endfor %}

        <div class="wrap-input100 validate-input" data-validate = "Contraseña es obligatoria">
            <input class="input100" type="password" name="new_password1" placeholder="Contraseña">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Contraseña es obligatoria">
          <input class="input100" type="password" name="new_password2" placeholder="Confirmar Contraseña">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
              <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
      </div>
        
        <div class="container-login100-form-btn">
            <button type="submit" class="login100-form-btn">
                Reestablecer Contraseña
            </button>
        </div>
        
    </form>
    
{% endblock %}