[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
django-allauth = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
phonenumbers = "*"
python-memcached = "*"
gunicorn = "*"
celery = "*"
redis = "*"

[requires]
python_version = "3.8"
