{% load static %}

<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>LICIORION</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

	<!-- Flaticons  -->
	<link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	{% if GA_KEY %}
		<script async="" src="https://www.googletagmanager.com/gtag/js?id={{ GA_KEY }}"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '{{ GA_KEY }}');
		</script>
	{% endif %}
</head>

<body>

	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-md-2 text-center">
							<div id="colorlib-logo"><a href="{% url 'home_page' %}">LICIORION</a></div>
						</div>
						<div class="col-md-10 text-right menu-1">
							<ul>
								<li><a href="{% url 'home_page' %}">Inicio</a></li>
								<li class="btn-cta"><a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div class="colorlib-intro">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="intro">
							<h1>Bienvenido a LICIORION</h1>
							<p><span><a href="{% url 'home_page' %}">Inicio</a></span> / <span>Bienvenido</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="services">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
						<h2>{{ title }}</h2>
						<p>{{ message }}</p><br />
						<div class="row">
							<div class="col-md-4 text-center animate-box">
								<div class="pricing">
									<h2 class="pricing-heading">3 meses</h2>
									<div class="price"><sup class="currency">$</sup>180.000<small><br></small></div>
										<script src='https://checkout.epayco.co/checkout.js' 
											data-epayco-key='5c907b023b58f10bf33a6fead35a8e3b' 
											class='epayco-button' 
											data-epayco-amount='180000'
											data-epayco-tax='0'
											data-epayco-tax-base='180000'
											data-epayco-name='Plan 3 meses' 
											data-epayco-description='Plan 3 meses' 
											data-epayco-currency='cop'    
											data-epayco-country='CO' 
											data-epayco-test='true' 
											data-epayco-external='true' 
											data-epayco-extra1='2'
											data-epayco-extra2={{ user_id }}
											data-epayco-response="https://{{ domain }}/subscriptions/payment/"
											data-epayco-confirmation="https://{{ domain }}/subscriptions/payment/"
											data-epayco-button='https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/boton_carro_de_compras_epayco5.png'> 
										</script>
								</div>
							</div>
							<div class="col-md-4 text-center animate-box">
								<div class="pricing">
									<h2 class="pricing-heading">6 meses</h2>
									<div class="price"><sup class="currency">$</sup>260.000<small><br></small></div>
										<script src='https://checkout.epayco.co/checkout.js' 
											data-epayco-key='5c907b023b58f10bf33a6fead35a8e3b' 
											class='epayco-button' 
											data-epayco-amount='260000' 
											data-epayco-tax='0'
											data-epayco-tax-base='260000'
											data-epayco-name='Plan 6 meses' 
											data-epayco-description='Plan 6 meses' 
											data-epayco-currency='cop'    
											data-epayco-country='CO' 
											data-epayco-test='true' 
											data-epayco-external='true' 
											data-epayco-extra1='3'
											data-epayco-extra2={{ user_id }}											
											data-epayco-response="https://{{ domain }}/subscriptions/payment/"
											data-epayco-confirmation="https://{{ domain }}/subscriptions/payment/"
											data-epayco-button='https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/boton_carro_de_compras_epayco5.png'> 
										</script> 
								</div>
							</div>
							<div class="col-md-4 text-center animate-box">
								<div class="pricing">
									<h2 class="pricing-heading">12 meses</h2>
									<div class="price"><sup class="currency">$</sup>380.000<small><br></small></div>
										<script src='https://checkout.epayco.co/checkout.js' 
											data-epayco-key='5c907b023b58f10bf33a6fead35a8e3b' 
											class='epayco-button' 
											data-epayco-amount='360000' 
											data-epayco-tax='0'
											data-epayco-tax-base='360000'
											data-epayco-name='Plan 12 meses' 
											data-epayco-description='Plan 12 meses' 
											data-epayco-currency='cop'    
											data-epayco-country='CO' 
											data-epayco-test='true' 
											data-epayco-external='true'
											data-epayco-extra1='4'
											data-epayco-extra2={{ user_id }}											
											data-epayco-response="https://{{ domain }}/subscriptions/payment/"
											data-epayco-confirmation="https://{{ domain }}/subscriptions/payment/"
											data-epayco-button='https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/boton_carro_de_compras_epayco5.png'> 
										</script> 
								</div>
							</div>
						</div><br />
						<span>{{ detail }}</span>
					</div>
				</div>

			</div>
		</div>



		<footer id="colorlib-footer">
			<div class="newsletter">
				<div class="container">
					<div class="row">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-4 colorlib-widget">
						<h4>Nosotros</h4>
						<p>Somos una <em>startup</em> que busca enlazar oportunidades de negocio del estado con las
							empresas y promover la pluralidad de participantes en la compra pública</p>
						<p>
						<ul class="colorlib-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
						</ul>
						</p>
					</div>
					<div class="col-md-4 colorlib-widget">
						<h4>Información</h4>
						<p>
						<ul class="colorlib-footer-links">
							<!--<li><a href="#"><i class="icon-check"></i> Terminos y condiciones</a></li>-->
							<li><a href="{% url 'contact_page' %}"><i class="icon-check"></i> Contáctenos</a></li>
						</ul>
						</p>
					</div>
					<div class="col-md-4 colorlib-widget">
						<h4>Información de contacto</h4>
						<ul class="colorlib-footer-links">
							<!--
							<li><a href="mailto:info@yoursite.com"><i class="icon-envelope"></i> info@yoursite.com</a>
							</li>
							-->
							<li><a href="https://liciorion.com"><i class="icon-location4"></i> liciorion.com</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copy">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<p>
								<small class="block">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
									Copyright &copy;
									<script>document.write(new Date().getFullYear());</script> All rights reserved |
									This template is made with <i class="icon-heart3" aria-hidden="true"></i> by <a
										href="https://colorlib.com" target="_blank">Colorlib</a>
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small><br>								
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
	<!-- Owl carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/magnific-popup-options.js' %}"></script>
	<!-- Counters -->
	<script src="{% static 'js/jquery.countTo.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'js/main.js' %}"></script>
</body>

</html>