{% extends 'oportunities/base.html' %}
{% load humanize %}

{% block title %}Nuevas oportunidades{% endblock title %}

{% block container %}
    {% for oportunity in oportunities %}
        </br>
        <div style="background-color: #fcfcfc;" class="card text-center w-25 card-custom">
            <span>
                <boton id='{{ oportunity.num_proceso }}' href="#" onclick="update_fav('{{ oportunity.num_proceso }}', {% if oportunity.id in favorites %}0{% else %}1{% endif %});" style="float:right; padding: 0;" class='star fa {% if oportunity.id in favorites %}fa-star{% else %}fa-star-o{% endif %} btn'></boton>
            </span>        
            <div class="card-header" style="margin-top: 1rem;">
                <h4>                
                    {{ oportunity.objeto_proceso }}
                </h4>
            </div>
            </br>
            <div class="card-body">
                <h6 class="source-oportunity">
                {% if oportunity.fuente == 1 %}SECOP I{% else %}SECOP II{% endif %}
                </h6>
                <h6 class="process-oportunity" style="text-align:left;">
                    Proceso: {{ oportunity.num_proceso }}
                    <span class="currency-oportunity">
                       COP $ {{ oportunity.valor_proceso|intcomma }}
                    </span>
                </h6>
                <h6 class="entity-oportunity">{{ oportunity.entidad }}
                    <span class="date-pub-oportunity">
                        Fecha de publicación: {{ oportunity.fecha_publicacion|date:"d/m/Y" }}
                    </span>
                </h6>
                <h6 class="type-oportunity">
                    {{ oportunity.tipo_proceso }}
                    <span class="state-oportunity">
                       {{ oportunity.estado_proceso }}
                    </span>
                </h6>
                <p class="card-text detail-oportunity">{{ oportunity.detalle_objeto_proceso }}</p>
                <h6 class="entity-oportunity">
                    <span class="state-oportunity">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        {{ oportunity.municipio_ejecucion }}
                    </span>
                    {% if oportunity.plazo_ejecucion %}
                        <span style="float:right;">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                             {{ oportunity.plazo_ejecucion }}
                        </span>
                    {% endif%}
                </h6>
                </br>
                <a style="border-radius: 2rem;" href="{{ oportunity.url_proceso }}" class="btn btn-primary">Ver proceso</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}