{% extends 'oportunities/base.html' %}
{% load humanize %}

{% block title %}Nuevas oportunidades{% endblock title %}

{% block container %} 
    {% for oportunity in oportunities %}
        </br>
        <div style="background-color: #fcfcfc;" class="card text-center w-25 card-custom">
            <div class="card-header">
                <h4>
                    {{ oportunity.objeto_proceso }}
                </h4>
            </div>
            </br>
            <div class="card-body">
                <h5 style="text-align:left;">
                    Proceso: {{ oportunity.num_proceso }}
                    <span style="float:right; font-weight: bold;">
                       COP $ {{ oportunity.valor_proceso|intcomma }}
                    </span>
                </h5>
                <h6 style="text-align:left;">{{ oportunity.entidad }}
                    <span style="float:right;">
                        Fecha de publicación: {{ oportunity.fecha_publicacion }}
                    </span>              
                </h6>
                <h6 style="text-align:left;">
                    {{ oportunity.tipo_proceso }}
                    <span style="float:right;">
                       {{ oportunity.estado_proceso }}
                    </span>
                </h6>
                <p style="text-align: justify; font-size: 1.3rem;" class="card-text">{{ oportunity.detalle_objeto_proceso }}</p>
                <h5 style="text-align:left;">
                    <span>
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        {{ oportunity.municipio_ejecucion }}
                    </span>
                    {% if oportunity.plazo_ejecucion %}
                        <span style="float:right;">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                             {{ oportunity.plazo_ejecucion }}
                        </span>
                    {% endif%}
                </h5>
                <a style="border-radius: 2rem;" href="{{ oportunity.url_proceso }}" class="btn btn-primary">Ver proceso</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}