

.card-custom {
    padding: 2.5rem;
    border-radius: 1rem;
}

@media (min-width: 992px) {
    .wrap-oportunity {
        margin: auto; 
        width: 65%;
    }
    .currency-oportunity {
        float: right;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .date-pub-oportunity {
        float: right;
    }
    .entity-oportunity {
        text-align: left;
    }
    .state-oportunity {
        float: left;
    }
    .type-oportunity {
        text-align: right;
    }
    .detail-oportunity {
        text-align: justify; 
        font-size: 1.3rem;
    }
    .source-oportunity {
        text-align: left;
    }
  }

@media (max-width: 992px) {
    .wrap-oportunity {
        margin: auto; 
        width: 95%;
    }
    .currency-oportunity {
        float: right;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .date-pub-oportunity {
        float: right;
    }
    .entity-oportunity {
        text-align: left;
    }
    .state-oportunity {
        float: left;
    }
    .type-oportunity {
        text-align:left;
    }
    .detail-oportunity {
        text-align: justify; 
        font-size: 1.3rem;
    }
    .source-oportunity {
        text-align: left;
    }
  }
  
  @media (max-width: 768px) {
    .wrap-oportunity {
        margin: auto; 
        width: 95%;
    }
    .currency-oportunity {
        float: right;
        font-weight: bold;
        font-size: 1.3rem;
    }
    .date-pub-oportunity {
        float: left;
        margin-top: 1rem;
    }
    .entity-oportunity {
        text-align: left;
        display: grid;
    }
    .state-oportunity {
        float: left;
    }
    .type-oportunity {
        text-align: right;
    }
    .detail-oportunity {
        text-align: justify; 
        font-size: 1.3rem;
    }
    .source-oportunity {
        text-align: left;
    }
  }
  
  @media (max-width: 576px) {
    .wrap-oportunity {
        margin: auto; 
        width: 95%;
    }
    .wrap-oportunity h6, p{
        margin-bottom: 1.3rem;
    }
    .currency-oportunity {
        float: right;
        font-weight: bold;
        font-size: 12px;
    }
    .date-pub-oportunity {
        float: left;
        margin-top: 1rem;
    }
    .entity-oportunity {
        text-align: left;
        display: grid;
    }
    .state-oportunity {
        float: left;
        margin-top: 1rem;
    }
    .type-oportunity {
        text-align:left;
        display: grid;
    }
    .detail-oportunity {
        text-align: justify; 
        font-size: 1.1rem;
    }
    .source-oportunity {
        text-align: left;
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .wrap-oportunity {
        margin: auto; 
        width: 95%;
    }
    .wrap-oportunity h6, p{
        margin-bottom: 1.1rem;
    }
    .process-oportunity {
        display: grid;
    }
    .currency-oportunity {
        float: left;
        font-weight: bold;
        font-size: 12px;
        margin-top: 1rem;
    }
    .date-pub-oportunity {
        float: left;
        margin-top: 1rem;
    }
    .entity-oportunity {
        text-align: left;
        display: grid;
    }
    .state-oportunity {
        float: left;
        margin-top: 1rem;
    }
    .type-oportunity {
        text-align:left;
        display: grid;
    }
    .detail-oportunity {
        text-align: justify; 
        font-size: 1.1rem;
    }
    .source-oportunity {
        text-align: left;
        font-size: 10px;
    }
}